
name: Pull Request - Ansible Lint
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - name: Checkout the code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 #v6.2.0
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Ansible Collections
        run: |
          ansible-galaxy collection install ansible.windows --force
          ansible-galaxy collection install ansible.posix --force
          ansible-galaxy collection install ansible.utils --force
          ansible-galaxy collection install ansible.netcommon:5.1.2 --force
          ansible-galaxy collection install community.windows --force
          ansible-galaxy collection install community.general --force
          ansible-galaxy collection install microsoft.ad --force

      - name: Run ansible-lint
        run: |
          ansible-lint src/ -c .ansible-lint
